old_requirements.txt

.env

.vscode/
notebook/.ipynb_checkpoints
notebook/mrn_trna_model.ipynb
notebook/mrn_realtime_news_notebook_app_rtds.ipynb
notebook/.env
notebook/cloud_mrn_notebook_app.ipynb
notebook/mrn_notebook_app.ipynb
notebook/rdp_apis_notebook.ipynb

*/.ipynb_checkpoints/*
mrn_python/
mrn_trna_sample.json
mrn_trna_data.txt
documents/

console/market_price.py
console/market_price_rdpgw_service_discovery.py
console/.env
dev_resources/

python_trna/
# for RTO
venv/
nbvenv/



